---

---

<div
  class="space-y-2 w-[95%] md:w-[60%] font-poppins font-extralight antialiased text-text py-4"
>
  <hr class="border-1 border-text antialiased rounded-xl self-center" />

  <div class="flex justify-between text-xs md:text-base tracking-tight px-2">
    <a href="/contact" class="font-light hover:underline underline-offset-2">
      Contact me
    </a>
    <p>©️ Jaskaran Singh, 2024</p>
  </div>
</div>
