---
const links = [
  {
    name: "home",
    path: "/",
  },
  {
    name: "resume-AI",
    path: "/resume-ai",
  },
  {
    name: "view-resume",
    path: "https://firebasestorage.googleapis.com/v0/b/resume-website-457ee.appspot.com/o/Resume.pdf?alt=media",
    target: "_blank",
  },
];

import '@fontsource/poppins';
import '@fontsource-variable/outfit';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(0);

---

<div class="flex justify-center items-center w-full py-4" >
  <div class = "flex justify-between items-center w-full md:w-[60%] px-4 md:px-0">
    <div class = "font-poppins text-sm md:text-2xl text-primary font-bold">
      <a href = "/">jaskaran singh</a>
    </div>
    <div class = "navlinks font-poppins text-text">
      <ul class="flex space-x-3 md:space-x-12 text-xs md:text-sm">
        {
          links.map((link) => (
            <li>
              <div class = ` text-text transition-all duration-50 ${currentPath == link.path? "font-semibold text-primary":"font-light hover:underline underline-offset-2 "}`>
                <a href={link.path} target={link.target}>{link.name}</a>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
